@import url(normalize.css);
@import url(font-awesome.css);

/*Bilde på toppen*/
#toppBilde {
    margin: 0 auto;
    height: 500px;
    width: 1200px;
    position: relative;
}

/*Tittel/overskrift*/
h1 {
  font-family: fantasy;
  width: 100%;
  font-size: 800%;
  letter-spacing: 25px;
  color: yellow;
  position: absolute;
  text-align: center;
}

/*Artikkel-tittel*/
h2 {
  text-align: center;
  color: #3c36e2;
}

/*Fleks*/
.flexBox{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20% auto auto;
}

.articles {
  flex 1;
  margin: 20px 0 30px 0;
  padding: 5 %;
  background-color: #e5ea8a;
  box-shadow: 0 0 8px 8px #3c36e2;
}

.lead {
  float: left;
  width: 23%;
  height: 65%;
  margin: 1% 0 1% 4%;
  padding: 0 2% 0 2%;
  background: grey;
  border: black solid;
}


/*Pakker nettsiden*/
#wrapper {
    background: #ad8282;
    height: 100%;
}

/*Linker i bunnen*/
.link{
  text-decoration: none;
  background-color: #ccc;
  border: 3px solid;
}

/*Bunn*/
footer {
  width: 100%;
  padding-top: 1px;
  height: 1%;
  background: grey;
  text-align: center;
}

.youtube {
  color: red;
}

.hjem {
  color: black;
}
